h1
{color: blue;
text-align: center;}

p
{color: gray;
font-size: 20px;}

body
{background-color: lightyellow;}

#titulo
{color: darkblue;
text-align: center;}

.texto
{color: darkgreen;
font-size: 20px;}

.tarjeta
{background-color: lightgray;
padding: 20px;}

.destacado
{color: red;
font-weight: bold;}

.caja
{background-color: lightyellow;
width: 300px;
padding: 20px;
border: 2px solid goldenrod;
margin: 20px;
border-radius: 8px;}