h1{
    color: red;
}
h2{
    color: purple;
}
p{
    font-size: 30px;
}
span{
    color: yellow;
}
#TP{
    color: aqua;
    text-align: center;
}
.P{
    color: blue;
    font-size: 20px;
}
.divsito{
    background-color: lightgreen;
    padding: 30px;
}